button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: var(--font-geistSans);

    font-size: larger;
    font-weight: 600;
}

button:hover{
    background-color: white;
    color: black;
}